body {
    display: flex;
   justify-content: center; 
    /* align-items: center; */
    height: 100vh;
    margin: 0;
}
button{
    display: block;
    block-size: 30px;
    background-color: #800080;
     position:relative;
    padding : 6px 10px;
    margin-top: 20px; /* Adjust as needed */
}

.popup-wrapper{
    background-color: aqua;
    position: fixed;
    top: 5;
    width:100%;
    height: 100%;

    display: none;

}
.popup{
    font-family: fantasy;
    text-align: center;
    text-decoration: wavy;
    width: 100%;
    background-color: white;
    max-width: 400px;
    margin: 10% auto;
    padding: 30px;
    position: relative;
}
.popup-close{
  position: absolute;
  top: 6px;
  color: red;
  right:13px;
  cursor:pointer;
  font-family: Arial, Helvetica, sans-serif;
}