body{
    background: rgb(250, 247, 247);
}
form{
    max-width: 70%;
    margin: 40px;
    background: yellowgreen;
    padding: 10px;
    display: none;
}
input{
    display:block;
    margin: 10px auto;
    padding: 4px;
}
input.success{
    border: green;
}
input.fail{
    border:red;
}